{{#if hasCategoria}}
  <div class="container mt-4">
    <a href="/adminAdd/categorias" class="btn btn-success mt-3">+ Nueva
      Categoría</a>
    <h1 class="text-center my-4">Categorías</h1>
    <div class="row">
      {{#each Categorias}}
        <div class="col-md-4 mb-4">
          <div class="card h-100 border-success shadow-sm">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">{{this.categoríaName}}</h5>
              <p class="card-text text-justify">{{this.descripcion}}</p>
              <p class="card-text mt-auto">
                <small class="text-muted">Cantidad de libros:
                  {{this.cantidadLibros}}</small>
              </p>
            </div>

            <form
              method="post"
              action="/eliminarCategoria"
              class="form-delete"
              onsubmit="return confirm('¿Estás seguro de que deseas eliminar este categoria?');"
            >
              <a href="/adminEdd/categorias/{{this.id}}" class="btn btn-primary me-2">
                Editar
              </a>
              <input type="hidden" value="{{this.id}}" name="eliminarId" />
              <button type="submit" class="btn btn-danger delete">
                Borrar
              </button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

{{else}}
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1>No se encontraron Categorias.</h1>
      <a href="/adminAdd/categorias" class="btn btn-success mt-3">+ Nuevo
        Categoria</a>
    </div>
  </div>
{{/if}}
